@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");


#bg{
	background-image:url("bgpic.png");
	background-size:cover;
	background-position: center;
	z-index:1;
	position: relative;
	padding: 10px;
}


#heading{
	margin:50px auto;
	font-weight: bold;
	font-size: 2.5rem;
	text-align: center;
	opacity: 0.9;
	color: #fff;
	letter-spacing: 0.4rem;
	font-family: 'Bebas Neue', cursive;
}

#bg_jt h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}
/* Containers */

.container-fluid{
  height: 100%;
  padding: 7% 15%;
}

	
/* carousel */


.carousel{
 color: white;
}
.carousel-text {
  font-size: 1rem;
  line-height: 1.5;
  opacity:1;
}

.carousel-image{
  width: 20%;
  border-radius: 50%;
  margin: 100px 50px 20px 50px;
}

.carousel-control-prev-icon{
	border: 2px solid white;
	border-radius: 100%;
	padding: 4% 4%;
}

.carousel-control-next-icon{
	border: 2px solid white;
	border-radius:100%;
	padding: 4% 4%;
}

.carousel-control-prev {
    left: 18%;
}

.carousel-control-next {
    left: 67%;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}


@media only screen and (max-width:650px )
 
 {
 	
#heading{
	top: 15%;
	left: 18%;
	font-size: 1.5rem;
	color: #fff;
	letter-spacing: 0.4rem;
}

.carousel-image{
  width:50%;
  border-radius: 50%;
  margin: 210px 50px 20px 50px;
}

.carousel-control-prev {
    left: 5%;
}

.carousel-control-next {
    left: 80%;
}

p {
  font-size: 0.9rem;
  line-height: 1.4;
  padding-top: 10px;
}


}